flask
Werkzeug
jinja2
flask_login
flask_migrate
WTForms
flask_wtf
flask_sqlalchemy
sqlalchemy
email_validator
gunicorn
flask-restx
python-dotenv
Flask-Minify
deepface
mediapipe
facenet-pytorch==2.5.3
scikit-learn
opencv-python
tourch
tourchvision
scipy
