{% extends 'layouts/base.html' %}

{% block title %} Edit Course {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-dismissible fade show alert-{{category}} text-white" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card">
                <div class="card-header">
                    Edit Course
                </div>
                <div class="card-body">
                    <form method="post">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.name.label }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.code.label }}
                            {{ form.code(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.lecturer.label }}
                            {{ form.lecturer(class="form-control") }}
                        </div>
                        <!-- Add other form fields here -->
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
